body{
	background-image: url(Images/bgpic.jpg);
	background-size:cover;
	margin:center ;
}

.text_color p{
				color: white;
				font-size: 2em; 
				}
.text_color h1{
				color: white;
				font-size: 3em; 
				}		
.text_display h1 {
			    text-shadow: 3px 3px 0px #000;
			    }	
.text_display p {
			    text-shadow: 3px 3px 0px #000;
			    }					    					
